services:
  - type: web
    name: financiera-backend
    env: node
    plan: free
    rootDir: backend
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_VERSION
        value: 18

  - type: static
    name: financiera-frontend
    plan: free
    rootDir: frontend
    buildCommand: npm install && npm run build
    publishPath: dist
